.started{
    margin-bottom: 15rem;
    &__container{
        max-width: 90rem;
        margin: 0 auto;
        background-color: #fbfbfb;
        border-radius: 2rem;
       
        position: relative;
        padding: 6rem 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
    }
    &__box{
        margin-bottom: 3rem;
    }
    &__desc{
        max-width: 24.5rem;
       margin-bottom: 4.5rem;
       color: $white--color;
    }
    &__btn{
        display: block;
        width: max-content;
    }
    &__chat{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        transform: translateX(4rem);
    }
    &__smile{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
    }
    @media screen and (max-width: 1023px) {
        *:not(img){
            z-index: 100;
        }
        &__chat,
        &__smile{
            max-width: 20%;
        }
        &__smile{
            transform: translate(0,-50%);
        }
    }
    
}