.studio{
    margin-bottom: 16rem;
    &__container{
        display: flex;
        align-items: center;
    }
    &__content{
        width: 50%;
        padding-right: 15rem;
    }
    &__img{
        width: 50%;
    }
    &__heading{
        margin-bottom: 4rem;
    }
    &__desc{
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        margin-bottom: 3rem;
    }
    @media screen and (max-width: 1023px) {
        &__container{
            flex-direction: column;
        }
        &__content{
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 0;
            a{
                padding: 1rem 2rem;
            }
        }
        &__img{
            width: 100%;
        }
    }
    
}