.work{
    margin-bottom: 15rem;
    &__container{

    }
  
    &__list{
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        //css grid
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-column-gap: 7rem;
    }
    &__item{
        width: calc(33.33% - 4.667rem);
        border: 1px solid $border--item;
        border-radius: 1.5rem;
        padding: 4.5rem 3rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.4;
        transition:  all 0.2s linear;
       
        // &:hover{
        //     border-color: transparent;
        //     box-shadow: 0 0 50px 5px rgba(#000000, 0.09);
        //     .btn-more{
        //         border-color: $primary-color;
        //         background-color: $primary-color;
        //         color: #fff;
        //     }
        // }

        &--img{
            margin-bottom: 3.5rem;
            min-height: 11.5rem;
        }
        &--title{
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }
        &--desc{
          
            margin-bottom: 3.5rem;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
    
        }
    }
@media (hover:hover){
    &__item{
    &:hover{
        border-color: transparent;
        box-shadow: 0 0 50px 5px rgba(#000000, 0.09);
        .btn-more{
            border-color: $primary-color;
            background-color: $primary-color;
            color: #fff;
        }
    }}
}
@media screen and (max-width:1023px) {
    &__item{
        width: calc(33.33% - 2.667rem);
        a{
            padding: 1rem 2rem;
        }
       
    }
}
@media screen and (max-width:767px) {
    // &__list{
    //     flex-direction: column;
    //     align-items: center;
        
    // }
    // &__item{
    //     width: 100%;
    //     max-width: 45rem;
    //     margin-bottom: 3rem;
    //     &--title{
    //         font-size: 1.5rem;
    //     }
    // }
    &__list{
         
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 70%;
        grid-auto-flow: column;
        grid-gap: 0 2rem;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        grid-template-columns: unset;
        
        &:-webkit-scrollbar {
          display: none;
          width: 0;
        }
         & > *{
          scroll-snap-align: start;
        }
    
}
&__item{
    width: 100%;
}
@media screen and (max-width:479px) {
   
}
}}
